$navHoverColor:#EE2737;
$navHoverBgColor:#F6F6F6;

.header header {
    width: 100%;
    height: 23px;
    padding-top: 7px;
    font-size: 12px;
    text-align: center;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 9999 !important;

    .headerL {
        margin-left: 25px;
        float: left;

        h1 {
            width: 95px;
            height: 15px;
            background: url(../img/lining.png) no-repeat;
            float: left;
            margin-right: 15px;
            position: relative;
            top: 2px;
        }

        .shoppingCart {
            display: block;
            text-align: right;
            width: 40px;
            background: url(../img/shopping_cart.png) no-repeat;
        }
    }

    .headerR {
        float: right;
        margin-right: 55px;
    }

    .shu {
        width: 1px;
        height: 16px;
        background: #565656;
        margin: 0 10px;
    }
}

nav {
    width: 100%;
    height: 50px;
    font-size: 14px;
    background-color: #020202;
    position: fixed;
    top: 23px;
    z-index: 9999 !important;

    .nav {
        .logo {
            width: 54px;
            height: 18px;
            background: url(../img/logo.png) no-repeat center;
        }

        .shu {
            width: 1px;
            height: 20px;
            background-color: #4C4A46;
            float: left;
            margin-top: 15px;
        }

        a {
            display: block;
            padding: 16px 20px;
            color: #ffffff;

            .sanjiao {
                width: 7px;
                height: 4px;
                margin-left: 5px;
                background: url(../img/jiantou.png) no-repeat;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active a {
            color: $navHoverColor;
            background-color: $navHoverBgColor;

            .sanjiao {
                background-position: right;
            }
        }
    }

    .navR {
        float: right;
        margin-right: 50px;

        >div {
            float: left;
        }

        .hot {
            display: block;
            width: 60px;
            height: 45px;
            background: url(../img/fax_hot.gif) no-repeat;
            position: relative;
            top: -7px;
            margin-right: 24px;
        }

        .search {
            width: 205px;
            height: 21px;
            background: #ffffff url(../img/search.png) no-repeat right;
            border-radius: 3px;
            border: 1px solid #D1D1CF;
            padding-top: 2px;
            position: relative;
            top: 13px;

            input {
                width: 165px;
                height: 18px;
                margin-left: 5px;
            }

            span>a {
                display: block;
                width: 20px;
                height: 20px;
                float: right;
            }
        }
    }
}

.navListWrapper {
    width: 100%;
    height: 350px;
    padding-top: 45px;
    background: $navHoverBgColor;
    display: none;
    position: fixed;
    top: 73px;
    z-index: 9999 !important;

    .navList {
        text-align: center;
        display: none;

        ul {
            width: 175px;
            height: 280px;
            padding-left: 20px;
            border-left: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            display: inline-block;
            vertical-align: top;
            float: none;

            li {
                text-align: left;
                float: none;

                a {
                    line-height: 20px;
                }

                .big {
                    font-size: 30px;
                    color: $navHoverColor;
                    line-height: 46px;
                }
            }
        }
    }
}