.banner {
    .carousel-indicators {
        li {
            width: 240px;
            height: 20px;
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.8);

            .active {
                background-color: rgba(238, 39, 55, 0.8);
            }
        }
    }

    a[class^="carousel-control"] span {
        width: 50px;
        height: 50px;
    }
}