@charset "UTF-8";
main {
  margin-top: 73px;
}

main section {
  width: 100%;
  background-color: #eeefef;
  padding-bottom: 80px;
  min-width: 1260px;
  font-family: 微软雅黑;
}

main section .registerWrapper {
  width: 990px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 7px;
}

main section .registerWrapper h3 {
  display: block;
  height: 78px;
  line-height: 78px;
  margin: 0 90px 18px;
  border-bottom: 1px dashed #e2e2e2;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

main section .registerWrapper .register {
  margin: 0 auto;
  width: 375px;
}

main section .registerWrapper .register .line {
  position: relative;
}

main section .registerWrapper .register .line .pwdSafety {
  position: absolute;
  top: 16px;
  right: 5px;
}

main section .registerWrapper .register .line .pwdSafety .safetyName {
  margin-right: 4px;
  color: #808080;
}

main section .registerWrapper .register .line .pwdSafety .safetyRank {
  display: inline-block;
  width: 22px;
  height: 8px;
  background-color: #a2a2a2;
  vertical-align: middle;
}

main section .registerWrapper .register .line .pwdSafety .safetyRank:nth-child(2) {
  background-color: #ee2737;
}

main section .registerWrapper .register .line #captcha {
  position: absolute;
  right: 5px;
  top: 5px;
}

main section .registerWrapper .register .line #smsSend {
  width: 116px;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #eeefef;
  border: 0 none;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
}

main section .registerWrapper .register .line .checkbox {
  float: left;
  margin-left: 5px;
}

main section .registerWrapper .register .line .registerBtn {
  display: block;
  width: 374px;
  height: 45px;
  color: #FFFFFF;
  background-color: #dddddd;
  cursor: auto;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
}

main section .registerWrapper .register .tongyi {
  height: 40px;
  line-height: 40px;
  padding-left: 5px;
  margin-bottom: 10px;
}

main section .registerWrapper .register .tongyi > p {
  display: inline-block;
  vertical-align: top;
}

main section .registerWrapper .register .tongyi > p a {
  color: #0778f9;
}

main section .registerWrapper .register .tongyi > p span {
  color: #ee2737;
}

main section .registerWrapper .register .lingquan {
  display: block;
  width: 190px;
  height: 40px;
  line-height: 40px;
  margin: 20px auto;
  text-align: right;
  background: url(../img/20yuan.png) no-repeat;
  background-size: 40px;
  font-weight: bold;
  color: #ee2737;
}

main section .registerWrapper .register > P {
  margin-bottom: 18px;
  color: #808080;
}

main section .registerWrapper .register .otherLogin {
  padding-bottom: 20px;
}

main section .registerWrapper .register .otherLogin a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../img/login.png) no-repeat;
}

main section .registerWrapper .register .otherLogin a:hover {
  background: url(../img/login_active.png);
}

main section .registerWrapper .register .otherLogin a:nth-child(2) {
  background-position: -106px;
}

main section .registerWrapper .register .otherLogin a:nth-child(2):hover {
  background-position: -106px;
}

main section .registerWrapper .register .otherLogin a:nth-child(3) {
  background-position: -214;
}

main section .registerWrapper .register .otherLogin a:nth-child(3):hover {
  background-position: -214;
}

main section .registerWrapper .register .ipt {
  margin: 0 auto 10px;
  width: 374px;
  height: 45px;
  color: #333;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  position: relative;
  padding-left: 16px;
  font-size: 15px;
}

main section .registerWrapper .register .tips {
  padding-top: 4px;
  padding-left: 44px;
  margin: 0 auto 4px;
  background: #fff7e3 url(../img/error.png) no-repeat 10px 13px;
  border-color: #f2ac00;
  color: #808080;
  font-size: 14px;
  display: none;
  line-height: 36px;
}
